{% extends 'base.html' %}
{% block content %}
    <div id="base_area" style="display: block;">
        <div id="page_area" style="border: solid 1px rgba(219, 219, 219, 1); width: 1000px; background-color: white">
            <div>
                <div style="margin: 20px 0">
                    <div style="text-align: center"><h4>오늘도 이모샵을 방문해주셔서 감사합니다</h4></div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 40px; margin-bottom: 10px;font-weight: bold">
                    <div style="margin-left: 10px">
                        <h4>마이페이지</h4>
                    </div>
                    <div style="text-align: right; margin-right: 10px">
                        <button type="button" class="btn btn-outline-primary"
                                onclick="location.href = '/user/edituser'">개인정보수정
                        </button>
                    </div>
                </div>
                <div style="border-top: solid 1px gray; margin: 10px 10px; text-align: center; ">
                    <div style="display: flex; flex-direction: row; margin: 10px 0">
                        <div style="width: 100px; border-right: solid 1px lightgray;">
                            이름
                        </div>
                        <div style="margin-left: 20px">{{ user.name }}</div>
                    </div>
                    <div style="display: flex; flex-direction: row; margin: 10px 0">
                        <div style="width: 100px; border-right: solid 1px lightgray;">
                            닉네임
                        </div>
                        <div style="margin-left: 20px">{{ user.nickname }}</div>
                    </div>
                    <div style="display: flex; flex-direction: row; margin: 10px 0">
                        <div style="width: 100px; border-right: solid 1px lightgray;">
                            이메일
                        </div>
                        <div style="margin-left: 20px">{{ user.email }}</div>
                    </div>
                </div>
            </div>
            <!-- 구매 내역 for문으로 불러오기-->

            <div style="text-align: left; margin: 40px 0 0 10px; border-bottom: solid 1px gray">
                <h4>구매 내역</h4>
            </div>
            <div class="container">
                <div class="row" style="margin-top: 30px">
                {% if purchases %}
                    {% for purchase in purchases %}
                    <div class="col-sm-4 ms-4">
                        <div class="card" style="width: 13rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ purchase.title }}</h5>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary">상세보기</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-auto" style="text-align: center">
                    <h5>구매내역이 없습니다.</h5>
                    </div>

                {% endif %}
                </div>
            </div>

            <!-- 찜 내역 for문으로 불러오기-->
            <div style="text-align: left; margin: 40px 0 0 10px; border-bottom: solid 1px gray">
                <h4>좋아요</h4>
            </div>
            <div class="container">
                <div class="row" style="margin-top: 30px">
                {% if likes %}
                    {% for like in likes %}
                    <div class="col-sm-4 ms-4">
                        <div class="card" style="width: 13rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ like.title }}</h5>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary">상세보기</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-auto" style="text-align: center">
                    <h5>구매내역이 없습니다.</h5>
                    </div>
                {% endif %}
                </div>
            </div>
            <div style="margin-top: 30px">
                <button id="quit_btn" type="button" class="btn btn-secondary">회원탈퇴</button>
            </div>
        </div>
    </div>

    <!-- 회원탈퇴 모달창-->
    <div id="quit_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px">

                </div>
                <div style="text-align: center">
                    <p>회원탈퇴</p>
                    <div class="content"></div>
                </div>
                <div style="width: 40px; text-align: center">
                    <span style="cursor: pointer" id="close_btn" class="material-icons-outlined">close</span>
                </div>
            </div>
            <div style="text-align: center; border-top: solid 1px gray; width: 278px; height: 130px;">
                <div style="margin-top: 30px">
                    정녕 회원탈퇴 하시겠습니까?
                </div>
                <div style="margin-top: 20px">
                    왜이러지
                    <form action="{% url 'user:quitmember' %}" method="post">
                        {% csrf_token %}
                        <button style="margin: 0 15px; width: 70px" id="quit_yes_btn" type="submit"
                                class="btn btn-primary">
                            예
                        </button>
                    </form>
                    <button id="quit_no_btn" type="button" class="btn btn-secondary"
                            onclick="location.href = '/user/mypage'">아니요
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script>
        $('#quit_btn').click(function javascript_onclikc() {
            $('#quit_modal').css({
                display: 'flex',
            });
            $(document.body).css({
                overflow: 'hidden'
            });
        });


        $('#close_btn').click(function () {
            $('#quit_modal').css({
                display: 'none',
            });
            $(document.body).css({
                overflow: 'hidden'
            });
        });
    </script>
{% endblock %}


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>